/*

#g1t1{
    position: absolute;
    top: 18px;
    left: 16px;
    font-size: 12px;;
}
#g1t2{
    position: absolute;
    top: 18px;
    left: 64px;
    font-size: 12px;;
}
#g1t3{
    position: absolute;
    top: 40px;
    bottom:35px;
    left: 16px;
    font-size: 12px;;
}
#g1t4{
    position: absolute;
    top: 40px;
    bottom:35px;
    left: 64px;
    font-size: 12px;;
}
#g2t1{
    position: absolute;
    top: 32px;
    left: 16px;
    font-size: 12px;;
}
#g2t2{
    position: absolute;
    top: 32px;
    left: 64px;
    font-size: 12px;;
}
#g2t3{
    position: absolute;
    top: 80px;
    bottom:70px;
    left: 16px;
    font-size: 12px;;
}
#g2t4{
    position: absolute;
    top: 80px;
    bottom:70px;
    left: 64px;
    font-size: 12px;;
}
*/