<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>2018 Cup contest</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/narrow-jumbotron.css" rel="stylesheet">

    <link href="css/main.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Fixture</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Admin</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">lexicon tropy 2017</h3>
      </div>

      <div class="jumbotron">
        <h1 class="display-3">Welcome to Lexicon Tropy 2017</h1>
        <p class="lead">One Tropy , 64 teams!</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Results</a></p>
      </div>
 <!-- group fixture goes here -->
      <div class="row marketing">
        <div class="col-lg-6">
        <h4>Group#1</h4>
        <div><p><div id="g1t1">team 1</div>
                <div id="g1t2">team 2</div>
                <div id="g1t3">team 3</div>
                <div id="g1t4">team 4</div></p><div>

          </p>

         <h4>Group#2</h4>
        <p>      <div id="g2t1">team 5</div>
                 <div id="g2t2">team 6</div>
                 <div id"g2t3">team 7</div>
                 <div id"g2t4">team 8</div></p>

          <h4>Group#3</h4>
          <p>     <div id="g3t1">team 9</div>
                  <div id="g3t2">team 10</div>
                  <div id="g3t3">team 11</div>
                  <div id="g3t4">team 12</div></p>

        </div>
        <div class="col-lg-6">
            <h4>Group#4</h4>
           <p><div id="g4t1">team 13</div>
                    <div id="g4t2">team 14</div>
                    <div id="g4t3">team 15</div>
                    <div id="g4t4">team 16</div></p>
  
        <h4>Group#5</h4>
            <p><div id="g5t1">team 17</div>
                    <div id="g5t2">team 18</div>
                    <div id="g5t3">team 19</div>
                    <div id="g5t4">team 20</div></p>
  
         <h4>Group#6</h4>
           <p> <div id="g6t1">team 21</div>
                    <div id="g6t2">team 22</div>
                    <div id="g6t3">team 23</div>
                    <div id="g6t4">team 24</div></p>
          </div>

        <div class="col-lg-6">
            <h4>Group#7</h4>
             <p> <div id="g7t1">team 25</div>
                      <div id="g7t2">team 26</div>
                      <div id="g7t3">team 27</div>
                      <div id="g7t4">team 28</div></p>
    
            <h4>Group#8</h4>
              <p><div id="g8t1">team 29</div>
                      <div id="g8t2">team 30</div>
                      <div id="g8t3">team 31</div>
                      <div id="g8t4">team 32</div></p>
    
              
            </div>
        <!--otherside-->
            <div class="col-lg-6">
                <h4>Group#9</h4>
                  <p><div id="g9t1">team 31</div>
                          <div id="g9t2">team 32</div>
                          <div id="g9t3">team 33</div>
                          <div id="g9t4">team 34</div></p>
      
                <h4>Group#10</h4>
                <p><div id="g10t1">team 35</div>
                        <div id="g10t2">team 36</div>
                        <div id="g10t3">team 37</div>
                        <div id="g10t4">team 38</div></p>
      
               <h4>Group#11</h4>
               <p><div id="g11t1">team 39</div>
                        <div id="g11t2">team 40</div>
                        <div id="g11t3">team 41</div>
                        <div id="g11t4">team 42</div></p>
              </div>
          
          <div class="col-lg-6">
            <h4>Group#12</h4>
            <p><div id="g12t1" >team 43</div>
                    <div id="g12t2">team 44</div>
                    <div id="g12t3">team 45</div>
                    <div id="g12t4">team 46</div></p>
  
            <h4>Group#13</h4>
            <p><div id="g13t1">team 48</div>
                    <div id="g13t2">team 49</div>
                    <div id="g13t3">team 50</div>
                    <div id="g13t4">team 51</div></p>
  
            <h4>Group#14</h4>
            <p><div id="g14t1">team 52</div>
                    <div id="g14t2">team 53</div>
                    <div id="g14t3">team 54</div>
                    <div id="g14t4">team 55</div></p>
          </div>
          
          
          <div class="col-lg-6">
            <h4>Group#15</h4>
            <p><div id="g15t1">team 56</div>
                    <div id="g15t2">team 57</div>
                    <div id="g15t3">team 58</div>
                    <div id="g15t4">team 59</div></p><
  
          <h4>Group#16</h4>
            <p><div id="g16t1">team 60</div>
                    <div id="g16t2">team 62</div>
                    <div id="g16t3">team 63</div>
                    <div id="g16t4">team 64</div></p>
  
            
          </div>
      </div>
      <!-- group fixture ends here -->

      <footer class="footer">
        <p>&copy; Nuwan</p>
      </footer>

    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
